<IfModule mod_rewrite.c>
    RewriteEngine On

    # Redirigir la raíz al frontend (index.html)
    RewriteRule ^$ /frontend/index.html [L]

    # Redirigir todo lo que no sea un archivo o directorio a index.php (Symfony)
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Si el path comienza con "frontend/", no redirigir a index.php
    RewriteCond %{REQUEST_URI} !^/frontend/

    RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>
