/var
*.log
tmp/
/var/cache
/var/log/*
/var/log/
/var/cache/*
/var/*
/vendor/
/var/cache/dev/pools
/var/cache/dev/pools/*
var/cache/dev/pools/8AXZIFCFLi/
var/cache/dev/pools/8AXZIFCFLi/*
var/cache/dev/
var/cache/dev/*

