{% extends 'base.html.twig' %}

{% block title %}Edit PagoAdministracion{% endblock %}

{% block body %}
    <h1>Edit PagoAdministracion</h1>

    {{ include('pago_administracion/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('pago_administracion_index') }}">back to list</a>

    {{ include('pago_administracion/_delete_form.html.twig') }}
{% endblock %}
