<form method="post" action="{{ path('hoja_trabajo_delete', {'id': hoja_trabajo.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ hoja_trabajo.id) }}">
    <button class="btn">Delete</button>
</form>
